.place {
    width: 282px;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}