.popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -36px;
    right: 0;
    background-image: url(../../../images/Close-Icon.svg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border: none;
}
@media screen and (min-width: 1024px) {
    .popup__close {
        width: 32px;
        height: 32px;
        top: -40px;
        right: -40px;
    }
}
