.profile__heading {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 9px;
}
@media screen and (min-width: 1024px) {
    .profile__heading {
        margin-left: 0;
        gap: 20px;
    }
}