.content {
    max-width: 880px;
    min-height: 80vh;
    margin: auto;
    padding: 0 19px;
    box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
    .content {
        padding: 0;
    }
}